<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

  <title>Slice of Pie </title>
  {% load static %}

   <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}" >

<script type="text/javascript" charset="utf-8" async="" src="https://platform.twitter.com/js/button.bf357a6ba1a5f1fa0ddb61377ae3add5.js"></script></head>
<body>
<div id="header">
<table width="100%" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td class="majbck" width="20%">&nbsp;</td>
      <td width="60%">
	<img height="140" src="pizza1.jpeg" alt="Pinocchio">
        <h1>Slice of Pie</h1>
        <h2>1 embarcadero<br>
        San Francisco<br>
        650-350-0374</h2>
      </td>
      <td class="minbck" width="20%">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div><div id="menu"><ul><li><a href="index.html" id="youarehere">Home</a></li><li><a href="menu.html" id="">Menu</a></li><li><a href="directions.html" id="">Directions</a></li><li><a href="hours.html" id="">Hours</a></li><li><a href="sicilian_vs_regular.html" id="">Sicilian vs. Regular</a></li><li><a href="contact.html" id="">Contact Us</a></li></ul></div><div id="main"><table width="100%">
  <tbody>
    <tr>
      <td width="50%">
<div class="callout">
<img src="pizza2.jpeg" alt="Pizza2"></div>
</td>
    </tr>
  </tbody>
</table></div>
</body></html>
