<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

  <title>Slice of Pie </title>
    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'orders/styles.css' %}"> 
   </head>
   <body>
    <div id="header">
     <table width="100%" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
         <td class="majbck" width="20%">&nbsp;</td>
         <td width="60%">
            {% load static %}
            <img height="140" src="{% static 'orders/pizza1.jpeg' %}" alt="Pie">
            <h1>Slice of Pie</h1>
            <h2>1 embarcadero<br>
                San Francisco<br>
                650-350-0374</h2>
            </td>
            <td class="minbck" width="20%">&nbsp;</td>
      </tr>
    </tbody>
</table>
</div>
<div id="menu"><ul><li><a href="index.html" id="youarehere">Home</a></li><li><a href="menu.html" id="">Menu</a></li><li><a href="directions.html" id="">Directions</a></li><li><a href="hours.html" id="">Hours</a></li><li><a href="sicilian_vs_regular.html" id="">Sicilian vs. Regular</a></li><li><a href="contact.html" id="">Contact Us</a></li></ul>
</div>
   <div id="main">
       <br><br><br>
       <table width="100%">
    <tbody>
    <tr>
        <td width="50%">
        <div class="callout">
            <p> Our pizzas push the boudaries of tradition and taste. Inspired by cousines around the world, our pizzas are famous for the fusion of flavors and textures. We cater to all dietary needs including vegetarian, gluten free and vegan. Come enjoy pizzas by slice or as a whole. Do not forget to finish with the desert pizza.</p> 
        </td>
    </tr>
    </tbody>
</table>
<br><br><br>
</div>
</body></html>

